<!DOCTYPE html>
<html>
<head>
    <title>Jogando</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<link rel="stylesheet" th:href="@{/styles/styles.css}" />
<script src="/js/generateHeader.js"></script>
<body>
    <h1 id="tituloPagina">Jogos que eu estou jogando</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Duração</th>
                            <th>MetaCritic</th>
                            <th>Gênero</th>
                            <th>Comecei a jogar</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="jogos-list">
                        <!-- adiciona as linhas da tabela -->
                    </tbody>
                </table>
            </div>
        </div>

        <nav aria-label="Navegação de página">
            <ul class="pagination justify-content-center mt-4" id="pagination">
                <!-- Os botões de página serão adicionados aqui dinamicamente -->
            </ul>
        </nav>

    </div>

    <script src="/js/jogando/listaDeJogosJogando.js"></script>
    <script src="/js/validaJWT.js"></script>
</body>
</html>