<!DOCTYPE html>
<html>
<head>
    <title>Jogos Cadastrados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light justify-content-center fs-3 mb-5" style="background-color: #696D7D;">
        <!--    
        <a href="http://localhost:1313/livros" class="btn btn-success me-2">Ir para Livros</a>
        -->
        Backlog App
        <button id="logoutButton" class="btn btn-danger ms-2">Sair</button>
    </nav>

    <h1 class="text-center">Lista de Jogos</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Duração</th>
                            <th>Nota Metacritic</th>
                            <th>Vontade de Jogar</th>
                            <th>Já Joguei</th>
                            <th>Gênero</th>
                        </tr>
                    </thead>
                    <tbody id="jogos-list">
                        <!-- adiciona as linhas da tabela -->
                    </tbody>

                    <!-- adiciona as linhas da tabela FALTA ADICIONAR O BOTÃO COM OPÇÃO DE EDITAR, EXCLUIR -->
                </table>
                <!--
                <a href="http://localhost:1313/livros/criar" class="btn btn-primary btn-lg mt-3">Adicionar um Jogo</a>
                -->

                <button id="sugestaoJogo" class="btn btn-primary btn-lg mt-3">Me sugira um Jogo!</button>
            </div>
        </div>
    </div>
</body>
    <script src="/js/sugestaoJogo.js"></script>
    <script src="/js/criaListaJogos.js"></script>

</html>





<!-- FALTA AJEITAR A VIEW DE SUGESTÃO DE JOGO  - CRIADA A ROTA BACK
FALTA AJEITAR A VIEW DE CRIAÇÃO, EDIÇÃO E EXCLUSÃO DE JOGO
FALTA AJEITAR A TELA PARA ESQUECI MINHA SENHA -->

<!-- FALTA ADICIONAR LÓGICA DE PAGINAÇÃO, QUE O USUÁRIO VAI CLICAR E VAI FAZER UMA NOVA REQUISIÇÃO COM NOVOS PARAMETROS PARA O BACK -->