<!DOCTYPE html>
<html>
<head>
    <title>Jogos Cadastrados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<link rel="stylesheet" th:href="@{/styles/styles.css}" />
<script src="/js/generateHeader.js"></script>
<body>

    <h1 class="text-center mb-4 mt-4" id="tituloPagina">Lista de Jogos</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table" id="table-id">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Duração</th>
                            <th>Nota Metacritic</th>
                            <th>Vontade de Jogar</th>
                            <th>Já Joguei</th>
                            <th>Gênero</th>
                        </tr>
                    </thead>
                    <tbody id="jogos-list">
                        <!-- adiciona as linhas da tabela -->
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#criarJogoModal">
                    Criar Jogo
                </button>
        
                <!-- Modal de criação de jogo -->
                <div class="modal fade" id="criarJogoModal" tabindex="-1" aria-labelledby="criarJogoModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="criarJogoModalLabel">Criação de Jogo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                                <form id="jogoForm" style="width:100%; max-width: 500px; margin: 0 auto;">
                                    <div class="form-group">
                                        <label class="form-label">Nome</label>
                                        <input type="text" id="jogoNome" class="form-control" placeholder="Digite o nome" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Duracao</label>
                                        <input type="number" id="jogoDuracao" class="form-control" placeholder="Digite a duração" required>
                                    </div>                          
                                    <div class="form-group">
                                        <label class="form-label">Nota Metacritic</label>
                                        <input type="number" id="jogoMetacritic" class="form-control" placeholder="Digite a nota do Metacritic" required>
                                    </div>                           
                                    <div class="form-group">
                                        <label class="form-label">Vontade de jogar</label>
                                        <input type="number" id="jogoVontade" class="form-control" placeholder="Digite a vontade de jogar" required>
                                    </div>                 
                                    <div class="form-group">
                                        <label class="form-label">Gênero</label>
                                        <input type="text" id="jogoGenero" class="form-control" placeholder="Digite ao genero" required>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button id="submitButton" class="btn btn-primary" type="submit">Criar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="sugestaoJogo" class="btn btn-primary btn-lg mt-3">Me sugira um Jogo!</button>
                <button id="downloadXLS" class="btn btn-primary btn-lg mt-3">Baixar XLS dos Jogos</button>
                <button id="searchByName" class="btn btn-primary btn-lg mt-3">Buscar um jogo</button>

                <div class="search">

                </div>
                
            </div>
        </div>

        <nav aria-label="Navegação de página">
            <ul class="pagination justify-content-center mt-4" id="pagination"></ul>
        </nav>

    </div>
</body>
    <script src="/js/jogo/utils/sugestaoJogo.js"></script>
    <script src="/js/jogo/listar/paginacaoJogos.js"></script>
    <script src="/js/jogo/listar/listaJogosPorNome.js"></script>
    <script src="/js/jogo/criar/createJogo.js"></script>
    <script src="/js/jogo/utils/downloadXLS.js"></script>
    <script src="/js/validaJWT.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>