<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Página Não Encontrada</title>
</head>
<body>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3 text-center">
        <h1 class="display-4">Página Não Encontrada</h1>
        <p class="lead">A página que você está tentando acessar não está disponível no momento.</p>
        <a href="/" class="btn btn-primary">Voltar à Página Inicial</a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
