<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagens do Banco</title>
    <style>
        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .image-container img {
            width: 300px;
            height: 300px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="image-container">
        <!-- As imagens serão inseridas dinamicamente pelo JavaScript -->
    </div>

    <script>
        function getAllGameImages() {
            const token = localStorage.getItem('token');
            const startTime = performance.now(); // Obtém o tempo de início

            fetch(`http://localhost:8080/image/allgamesid`, {
            method: 'GET',
            headers: {
                Authorization: `Bearer ${token}`
            }
            }).then(response => {
                if (!response.ok) {
                    if (response.status === 400) {
                        return response.text().then(errorMessage => {
                            alert('Erro 400: ' + errorMessage);
                            throw new Error(`Erro ${response.status}: ${errorMessage}`);
                        });
                    } else if (response.status === 401 || response.status === 403) {
                        console.log(response.text());
                        throw new Error(`Erro ${response.status}: Você não está autorizado para a operação desejada`);
                    }
                }

                return response.json();
            })
            .then(gameIds => {
                const imageContainer = document.querySelector('.image-container');
                gameIds.forEach(gameId => {
                    // Requisita a imagem em forma de blob para cada ID de jogo
                    fetch(`http://localhost:8080/image/game/${gameId}`, {
                        method: 'GET',
                        headers: {
                            Authorization: `Bearer ${token}`
                        }
                    }).then(response => {
                        if (!response.ok) {
                            if (response.status === 400) {
                                return response.text().then(errorMessage => {
                                    alert('Erro 400: ' + errorMessage);
                                    throw new Error(`Erro ${response.status}: ${errorMessage}`);
                                });
                            } else if (response.status === 401 || response.status === 403) {
                                console.log(response.text());
                                throw new Error(`Erro ${response.status}: Você não está autorizado para a operação desejada`);
                            } 
                        }
                        return response.blob();
                    }).then(blob => {
                        // Cria uma URL para o blob
                        const imageUrl = URL.createObjectURL(blob);
                        // Adiciona a imagem ao contêiner de imagens
                        imageContainer.innerHTML += `<img src="${imageUrl}" alt="Imagem do Jogo - ID: ${gameId}">`;
                    }).catch(error => {
                        console.error(error);
                    });
                });

                const endTime = performance.now(); // Obtém o tempo de término
                const elapsedTime = endTime - startTime; // Calcula o tempo decorrido
                console.log(`Tempo de execução: ${elapsedTime.toFixed(2)} milissegundos`);
            })
            .catch(error => {
                console.error(error);
            });
        }

        // Chame a função getAllGameImages para carregar todas as imagens
        getAllGameImages();
    </script>
</body>
</html>
