@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --cor-principal: hsl(180, 100%, 90%);
    --cor-hover: #191970;
    --cor-branco: #F9F6EE;

    --fonte-principal: 'Ubuntu', sans-serif;
    --fonte-peso-normal: 400;
    --fonte-peso-negrito: 700;
}

body {
    background-color: var(--cor-branco);
}

th {
    background-color: var(--cor-branco) !important;
}

td {
    background-color: var(--cor-branco) !important;
}

#navHeader {
    padding: 10px;
    background-color: var(--cor-principal);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    position: fixed !important;
    z-index: 5 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

/* Estilos específicos para os elementos dentro do navHeader */
.navbar-left,
.navbar-right {
    display: flex;
}

.navbar-left {
    margin-left: 1.5rem;
}

#linkNavMenu {
    position: relative;
    z-index: 5;
    background-color: var(--cor-principal) !important;
    font-weight: var(--fonte-peso-normal);
    display: none;
    border: 1px solid var(--cor-hover);
}

#linkNavMenu:hover {
    background-color: var(--cor-hover) !important;
    color: var(--cor-branco);
    transition: 0.3s;
}

#barsButton {
    background-color: transparent;
    border: none;
    cursor: pointer; 
    height: 10%;
}

#barsButton:hover {
    transform: scale(1.05);
}

.link-animate {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.link-animate.show {
    opacity: 1;
    transform: translateX(0);
}

.navbar-right {
    margin-right: 2rem;
}

.navbar-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    font-weight: var(--fonte-peso-negrito);
    font-size: 2rem;
    font-family: var(--fonte-principal);
}

#tituloPagina {
    text-align: center;
    margin-top: 5rem;
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-negrito);
}

//view opiniao jogo por id
.opinion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.opinion td {
    text-align: justify;
}

.columnValue {
    text-align: right;
}

.table-finalizado th {
    text-align: left;
    min-width: 15rem;
}

.table-finalizado {
    border-collapse: collapse;
    width: 100%;
}

.table-dropado th {
    text-align: left;
    min-width: 15rem;
}

.table-dropado {
    border-collapse: collapse;
    width: 100%;
}

.columnValue th,
.columnValue td,
.opinion th,
.opinion td {
    border: 1px solid #dcdcdc;
    padding: 8px;
}

.opinion td {
    vertical-align: top;
}

.custom-margin-left {
    margin-left: 0.5rem !important;
}

#gameImage img {
    max-width: 600px; 
    max-height: 600px; 
    width: auto; /* Permite que a largura seja ajustada automaticamente para manter a proporção da imagem */
    height: auto; /* Permite que a altura seja ajustada automaticamente para manter a proporção da img */
    display: block; /* Garante que a imagem é exibida como um bloco, para evitar espaços em branco indesejados */
    float: right;
    /*margin: auto // Centraliza a img */
}

//LISTAGEM DE JOGOS FINALIZADOS
#tableGameName:hover {
    cursor: pointer !important;
}

#table-dropado {
    border-collapse: collapse;
}

.dropadosRow:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.dropadosRow:hover td {
    background-color: var(--cor-principal) !important;
}

.dropadosRow:hover td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropadosRow:hover td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

//LISTAGEM DE JOGOS DROPADOS
.finalizadosRow .gameName {
    cursor: pointer;
}

#table-finalizados {
    border-collapse: collapse;
}

.finalizadosRow:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.finalizadosRow:hover td {
    background-color: var(--cor-principal) !important;
}

.finalizadosRow:hover td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.finalizadosRow:hover td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

//NAVIGATION VIEW AFTER LOGIN
#navigationMenu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#opinionsNavigation {
    height: 50vh;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(180, 100%, 90%);
    border-radius: 16px;

    margin: auto;
}

#opinionsNavigation h1 {
    flex-grow: 1;
    text-align: center;
    font-weight: var(--fonte-peso-negrito);
    font-size: 2rem;
    font-family: var(--fonte-principal);
}

#opinionsNavigation:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    background-color: var(--cor-hover);
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

#opinionsNavigation:hover h1 {
    font-weight: var(--fonte-peso-normal);
    color: var(--cor-branco);
}

#columnControllers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

#columnControllers img {
    height: 10vh;
    margin: 1rem;
}

#gamerImage {
    height: 45vh;
}

#containerNavAux {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    margin: auto;
}

#gamesNavigation,
#playingNavigation {
    flex-grow: 1;
    margin-top: 3rem;
    background-color: hsl(180, 100%, 90%);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#gamesNavigation {
    margin-right: 2rem;
}

#playingNavigation {
    margin-left: 2rem;
}

#gamesNavigation:hover,
#playingNavigation:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    background-color: var(--cor-hover);
    color: var(--cor-branco);
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

#gamesNavigation h1,
#playingNavigation h1 {
    text-align: center;
    font-weight: var(--fonte-peso-negrito);
    font-size: 2rem;
    font-family: var(--fonte-principal);
}

#gamesNavigation:hover h1,
#playingNavigation:hover h1 {
    font-weight: var(--fonte-peso-normal);
}

.afterOpinionsNavigation {
    height: 20vh;
    width: 40%;
    background-color: hsl(180, 100%, 90%);
    border-radius: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.afterOpinionsNavigation:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    background-color: var(--cor-hover);
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.afterOpinionsNavigation h1 {
    text-align: center;
    font-weight: var(--fonte-peso-negrito);
    font-size: 3rem;
    font-family: var(--fonte-principal);
}

.afterOpinionsNavigation:hover h1 {
    font-weight: var(--fonte-peso-normal);
    color: var(--cor-branco);
}

#opinionNavigationMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}