@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

#navHeader {
    padding: 10px;
}

/* Estilos específicos para os elementos dentro do navHeader */
.navbar-left,
.navbar-right {
    display: flex;
}

.navbar-left {
    margin-left: 1.5rem;
}

.navbar-right {
    margin-right: 2rem;
}

.navbar-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    font-weight: 700;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

#tituloPagina {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}


//view opiniao jogo por id
.opinion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.opinion td {
    text-align: justify;

    //FAZER COM QUE OCUPE A TELA INTEIRA OU AO MENOS CENTRALIZADO
    //MARGIN AO FINAL DA TELA DE OPINIÃO
}

.columnValue {
    text-align: right;
}

.table-opinion th {
    text-align: left;
    min-width: 15rem;
}