@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

#navHeader {
    padding: 10px;
}

/* Estilos específicos para os elementos dentro do navHeader */
.navbar-left,
.navbar-right {
    display: flex;
}

.navbar-left {
    margin-left: 1.5rem;
}

.navbar-right {
    margin-right: 2rem;
}

.navbar-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    font-weight: 700;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

#tituloPagina {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}


//view opiniao jogo por id
.opinion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.opinion td {
    text-align: justify;
}

.columnValue {
    text-align: right;
}

.table-opinion th {
    text-align: left;
    min-width: 15rem;
}

.table-opinion {
    border-collapse: collapse;
    width: 100%;
}

.columnValue th,
.columnValue td,
.opinion th,
.opinion td {
    border: 1px solid #dcdcdc;
    padding: 8px;
}

.opinion td {
    vertical-align: top;
}

.custom-margin-left {
    margin-left: 0.5rem !important;
}

#gameImage img {
    max-width: 600px; 
    max-height: 600px; 
    width: auto; /* Permite que a largura seja ajustada automaticamente para manter a proporção da imagem */
    height: auto; /* Permite que a altura seja ajustada automaticamente para manter a proporção da imagem */
    display: block; /* Garante que a imagem é exibida como um bloco, para evitar espaços em branco indesejados */
    float: right;
    //margin: auto // centraliza a img
}

.opinionRow .gameName {
    cursor: pointer;
}

#table-opinions {
    border-collapse: collapse;
}

.opinionRow:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.opinionRow:hover td {
    background-color: hsl(180, 100%, 95%);
}

.opinionRow:hover td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.opinionRow:hover td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

